﻿
@{
    ViewData["Title"] = "Users";
}

        <!-- Default box -->
        <div class="card">
            <div class="card-header with-border">
                <h3 class="card-title"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
                <div class="card-tools pull-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="Grid"></div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->


<script id="templateForm" type="text/template">
   
    <table cellspacing="10">
        <tr>
            <td>
                Email
            </td>
            <td colspan="3">
                <input id="Email" name="Email" value="{{:Email}}" />
            </td>
        </tr>
        <tr>
            <td>
                First Name
            </td>
            <td>
                <input id="FirstName" name="FirstName" value="{{:FirstName}}" />
            </td>
            <td>
                Last Name
            </td>
            <td>
                <input id="LastName" name="LastName" value="{{:LastName}}" />
            </td>

            <td>
                Direction
            </td>
            <td>
                <input id="DirectionId" name="DirectionId" value="{{:DirectionId}}" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input id="Password" name="Password" value="{{:Password}}" />
            </td>
            <td>
                Re-type Password
            </td>
            <td>
                <input id="ConfirmPassword" name="ConfirmPassword" value="{{:ConfirmPassword}}" />
            </td>
        </tr>
    </table>
</script>
<script id="templateEditForm" type="text/template">
    <input hidden id="UserProfileId" name="UserProfileId" value="{{:UserProfileId}}" />
    <input hidden id="ApplicationUserId" name="ApplicationUserId" value="{{:ApplicationUserId}}" />
    <table cellspacing="10">
        <tr>
            <td>
                Email
            </td>
            <td colspan="3">
                <input id="Email" name="Email" value="{{:Email}}" />
            </td>
        </tr>
        <tr>
            <td>
                First Name
            </td>
            <td>
                <input id="FirstName" name="FirstName" value="{{:FirstName}}" />
            </td>
            <td>
                Last Name
            </td>
            <td>
                <input id="LastName" name="LastName" value="{{:LastName}}" />
            </td>
        </tr>
    </table>
</script>

@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/User",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            var dataManagerDirection = ej.DataManager({
                url: "/api/Directions",
                adaptor: new ej.WebApiAdaptor()
            });

            var dataManagerDepartement = ej.DataManager({
                url: "/api/Departements",
                adaptor: new ej.WebApiAdaptor()
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/User/Insert",
                        removeUrl: "/api/User/Remove",
                        updateUrl: "/api/User/Update"
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog",
                        //editMode: "dialogtemplate",
                        //dialogEditorTemplateID: "#templateForm",
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "UserProfileId", headerText: 'Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Email", headerText: 'Email', validationRules: { required: true } },
                        { field: "FirstName", headerText: 'First Name', validationRules: { required: true } },
                        { field: "LastName", headerText: 'Last Name', validationRules: { required: false } },
                        { field: "LibelleFonction", headerText: 'Fonction', validationRules: { required: false } },
                        { field: "DirectionId", headerText: 'Direction', foreignKeyField: "Id", foreignKeyValue: "Libelle", dataSource: dataManagerDirection },
                        { field: "DepartementId", headerText: 'Departement', foreignKeyField: "Id", foreignKeyValue: "Libelle", dataSource: dataManagerDepartement },

                    ],
                    actionComplete: "complete",
                });
            });



        });

        function complete(args) {
            console.log("debut "+args.requestType);
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
            }
            if (args.requestType == 'beginedit' || args.requestType == 'add') {
                console.log("beginedit " + args.requestType);

                $('#GridDirectionId').ejDropDownList({ change: 'directionDdlChange' });
            }

            //if (args.requestType == "add") {
               // $("#Grid").ejGrid("option", { "editSettings": { dialogEditorTemplateID: "#templateForm" } });
            //}
            //else if (args.requestType == "beginedit") {
               // $("#Grid").ejGrid("option", { "editSettings": { dialogEditorTemplateID: "#templateEditForm" } });                
            //}
        }

        function directionDdlChange(e)
        {
            console.log("direction:" + e.selectedValue);
            $.ajax({
                url: '/api/Departements/GetByDirectionId/' + e.selectedValue,
                type: 'GET',
                success: function (res) {
                    var data = JSON.parse(res);
                    $("#GridDepartementId").ejDropDownList({
                        dataSource: data,
                        fields: { id: 'Id', text: 'Libelle', value: 'Id' },
                        //value: data.Id
                    });
                }
            })
        }

        //function complete(args) {

        //    $("#Email").ejMaskEdit({
        //        inputMode: 'Text',
        //    });
        //    $("#FirstName").ejMaskEdit({
        //        inputMode: 'Text',
        //    });
        //    $("#LastName").ejMaskEdit({
        //        inputMode: 'Text',
        //    });
        //    $("#Password").ejMaskEdit({
        //        inputMode: 'Password',
        //        validationRules: { required: true },
        //    });
        //    $("#ConfirmPassword").ejMaskEdit({
        //        inputMode: 'Password',
        //        validationRules: { required: true },
        //    });

        //    if (args.requestType == 'beginedit') {
        //        $("#" + this._id + "_dialogEdit").ejDialog({ title: "Edit Record" });
        //        $("#Email").ejMaskEdit("disable");
        //    }

        //    if (args.requestType == "save") {
        //        this.refreshContent();
        //    }
            
        //}


    </script>
}
