﻿
@{
    ViewData["Title"] = "Rôles";
}

        <div class="card">
            <div class="card-header with-border">
                <h3 class="card-title"><i class="fa fa-gear"></i> @ViewData["Title"]</h3>
                <div class="card-tools pull-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="Grid"></div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.box-footer-->
        </div>

@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/Role",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            dataManager.ready.done(function (e) { 

                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Role/Insert",
                        updateUrl: "/api/Role/Update",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "update", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: false,
                        allowAdding: true,
                        allowDeleting: false,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        //{ field: "Id", headerText: 'Rôle Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Name", headerText: 'Nom du Rôle', },
                    ],
                    actionComplete: "complete",
                });
            });


            
        });
            
            function complete(args) {
                if (args.requestType == 'beginedit') {
                    $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modifier le Rôle" });
                }
                if (args.requestType == 'add') {
                    $("#" + this._id + "_dialogEdit").ejDialog({ title: "Créer un Rôle" });
                }
                $(".e-btnsub").val("Enregister");
                $(".e-btncan").val("Fermer");
            }
            
    </script>
}

