﻿@model IEnumerable<GestionAchatErp.Models.DemandeAchatNature>
@{
    ViewData["Title"] = "Natures des demandes d'achats";
}
<!-- Content Wrapper. Contains page content -->

        <!-- Default box -->
        <div class="card">
            <div class="card-header with-border">
        <h3 class="card-title"><i class="fas fa-cog"></i> @ViewData["Title"]</h3>
                <div class="card-tools pull-right">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="Grid"></div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
               
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
  
@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/DemandeAchatNatures",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/DemandeAchatNatures/Insert",
                        updateUrl: "/api/DemandeAchatNatures/Update",
                        removeUrl: "/api/DemandeAchatNatures/Remove",
                    }),
                    
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    locale: "fr",
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "DemandeAchatNatureId", headerText: 'Demande Achat Nature Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Code", headerText: 'Code', validationRules: { required: true } },
                        { field: "Libelle", headerText: 'Libelle', validationRules: { required: true } }
                    ],
                    actionComplete: "complete",
                    actionBegin: function (args) {
                        if (args.requestType == "openAddDialog") {
                            $("#" + this._id + "_dialogEdit").ejDialog({ title: "Ajout de la nature" });
                        }
                        if (args.requestType == "openEditDialog") {
                            $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modification de la nature" });
                        }
                    },
                });
            });


        });

        function complete(args) {
            console.log('ARG---- '+args.requestType);
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modification" });
            }
            if (args.requestType == 'add') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Création" });
            }
            $(".e-btnsub").val("Enregister");
            $(".e-btncan").val("Fermer");
        }

    </script>
}
