﻿@model IEnumerable<GestionAchatErp.Models.ExpressionBesoin>
@{
    ViewBag.Title = "Liste des Expressions de Besoins en Attente";
}
<div class="container-fluid">

 <!-- /.card -->

    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
    <table id="besoinEnAttenteTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Numéro</th>
                <th>Besoin</th>
                <th>Motif</th>
                <th>Demandeur</th>
                <th>@Html.DisplayNameFor(model => model.DirectionLibelle)</th>
                <th>@Html.DisplayNameFor(model => model.DepartementLibelle)</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
           </thead>
                 
        </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>


@section Scripts{
    <!-- Page specific script -->
    <script>
        $(function () {
            var table = $("#besoinEnAttenteTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    url: "@Url.Action("GetExpressionBesoinsValides", "DemandeAchats")",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "NumExpressionBesoin", name: "NumExpressionBesoin" },
                    { data: "NatureBesoin", name: "NatureBesoin" },
                    { data: "MotifDemande", name: "MotifDemande" },
                    { data: "NomDemandeur", name: "NomDemandeur" },
                    { data: "DirectionLibelle", name: "DirectionLibelle" },
                    { data: "DepartementLibelle", name: "DepartementLibelle" },
                    {
                        data: "DernierStatut", render: function (data, type, row, meta) {
                               return type === 'display' ?'<span class="badge badge-success" >' + data + '</span>' : data;
                            
                            
                        }
                    },
                    { data: "DateDemande", name: "DateDemande" },
                    {
                        data: "Id", render: function (data, type, row, meta) {
                            var action = '<div>';
                            if (type === 'display') {
                                action += '<a href="/ItemsExpressionBesoins/List/' + data + '" ><i class="fas fa-plus"></i></a> ';
                                   
                            }
                            action += '</div>';
                            return action;
                        }
                    }
                ]
            });
           
            //Detail script

            //Delete script

              
        });
    </script>

}


