﻿@model GestionAchatErp.Models.DemandeAchat

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DemandeAchat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserResponsableId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserResponsableId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserResponsableCrbId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserResponsableCrbId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartementId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FonctionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FonctionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandeurId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandeurId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandeurNom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandeurNom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpressionBesoinId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpressionBesoinId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fonction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fonction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDemande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDemande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrbEnCharge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrbEnCharge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeAchat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeAchat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeMarche)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeMarche)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandeMac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandeMac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NatureBesoin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NatureBesoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotifDemande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotifDemande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImputationBudgetaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImputationBudgetaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditAlloue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditAlloue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModificationBudgetaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificationBudgetaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngagementAnterieur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngagementAnterieur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreditDisponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreditDisponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDemande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDemande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DernierStatut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DernierStatut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStatut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStatut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandeAchatNatureId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandeAchatNatureId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DemandeAchatId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
