﻿@model GestionAchatErp.Models.DemandeAchat

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DemandeAchat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DemandeAchatId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserResponsableId" class="control-label"></label>
                <input asp-for="UserResponsableId" class="form-control" />
                <span asp-validation-for="UserResponsableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserResponsableCrbId" class="control-label"></label>
                <input asp-for="UserResponsableCrbId" class="form-control" />
                <span asp-validation-for="UserResponsableCrbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectionId" class="control-label"></label>
                <input asp-for="DirectionId" class="form-control" />
                <span asp-validation-for="DirectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementId" class="control-label"></label>
                <input asp-for="DepartementId" class="form-control" />
                <span asp-validation-for="DepartementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FonctionId" class="control-label"></label>
                <input asp-for="FonctionId" class="form-control" />
                <span asp-validation-for="FonctionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandeurId" class="control-label"></label>
                <input asp-for="DemandeurId" class="form-control" />
                <span asp-validation-for="DemandeurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandeurNom" class="control-label"></label>
                <input asp-for="DemandeurNom" class="form-control" />
                <span asp-validation-for="DemandeurNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpressionBesoinId" class="control-label"></label>
                <input asp-for="ExpressionBesoinId" class="form-control" />
                <span asp-validation-for="ExpressionBesoinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direction" class="control-label"></label>
                <input asp-for="Direction" class="form-control" />
                <span asp-validation-for="Direction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departement" class="control-label"></label>
                <input asp-for="Departement" class="form-control" />
                <span asp-validation-for="Departement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fonction" class="control-label"></label>
                <input asp-for="Fonction" class="form-control" />
                <span asp-validation-for="Fonction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDemande" class="control-label"></label>
                <input asp-for="NumDemande" class="form-control" />
                <span asp-validation-for="NumDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrbEnCharge" class="control-label"></label>
                <input asp-for="CrbEnCharge" class="form-control" />
                <span asp-validation-for="CrbEnCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeAchat" class="control-label"></label>
                <input asp-for="TypeAchat" class="form-control" />
                <span asp-validation-for="TypeAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeMarche" class="control-label"></label>
                <input asp-for="TypeMarche" class="form-control" />
                <span asp-validation-for="TypeMarche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandeMac" class="control-label"></label>
                <input asp-for="DemandeMac" class="form-control" />
                <span asp-validation-for="DemandeMac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NatureBesoin" class="control-label"></label>
                <input asp-for="NatureBesoin" class="form-control" />
                <span asp-validation-for="NatureBesoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotifDemande" class="control-label"></label>
                <input asp-for="MotifDemande" class="form-control" />
                <span asp-validation-for="MotifDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImputationBudgetaire" class="control-label"></label>
                <input asp-for="ImputationBudgetaire" class="form-control" />
                <span asp-validation-for="ImputationBudgetaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditAlloue" class="control-label"></label>
                <input asp-for="CreditAlloue" class="form-control" />
                <span asp-validation-for="CreditAlloue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModificationBudgetaire" class="control-label"></label>
                <input asp-for="ModificationBudgetaire" class="form-control" />
                <span asp-validation-for="ModificationBudgetaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngagementAnterieur" class="control-label"></label>
                <input asp-for="EngagementAnterieur" class="form-control" />
                <span asp-validation-for="EngagementAnterieur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditDisponible" class="control-label"></label>
                <input asp-for="CreditDisponible" class="form-control" />
                <span asp-validation-for="CreditDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDemande" class="control-label"></label>
                <input asp-for="DateDemande" class="form-control" />
                <span asp-validation-for="DateDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DernierStatut" class="control-label"></label>
                <input asp-for="DernierStatut" class="form-control" />
                <span asp-validation-for="DernierStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStatut" class="control-label"></label>
                <input asp-for="DateStatut" class="form-control" />
                <span asp-validation-for="DateStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandeAchatNatureId" class="control-label"></label>
                <input asp-for="DemandeAchatNatureId" class="form-control" />
                <span asp-validation-for="DemandeAchatNatureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
