﻿@model GestionAchatErp.Models.DemandeAchat
@inject GestionAchatErp.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(appUser.Id));
}

<div class="container-fluid">
    <div class="card">

        <div class="card-body">
            <form id="myForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="DemandeAchatId" value="@Model.DemandeAchatId" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="NatureBesoin" class="control-label"></label>
                            <input asp-for="NatureBesoin" value="@Model.NatureBesoin" class="form-control" readonly/>
                            <span asp-validation-for="NatureBesoin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MotifDemande" class="control-label"></label>
                            <input asp-for="MotifDemande" value="@Model.MotifDemande" class="form-control" readonly />
                            <span asp-validation-for="MotifDemande" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DemandeurNom" class="control-label"></label>
                            <input asp-for="DemandeurNom" value="@Model.DemandeurNom" class="form-control" readonly />
                            <span asp-validation-for="DemandeurNom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TypeAchat" class="control-label"></label>
                            <input asp-for="TypeAchat" value="@Model.TypeAchat" class="form-control" />
                            <span asp-validation-for="TypeAchat" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                    <label asp-for="TypeMarche" class="control-label"></label>
                            <input asp-for="TypeMarche" value="@Model.TypeMarche" class="form-control" />
                            <span asp-validation-for="TypeMarche" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DemandeMac" class="control-label"></label>
                            <input asp-for="DemandeMac" value="@Model.DemandeMac" class="form-control" />
                            <span asp-validation-for="DemandeMac" class="text-danger"></span>
                        </div>
                    </div>
                   
                   
                    </div>
                    </div>
                    
                    
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" id="ModifierDataDa" class="btn btn-primary">Modifier</button>
                </div>
            </form>

            <table id="tableItemsDa" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>##</th>
                        <th> Réference</th>
                        <th>Categorie</th>
                        <th>Designation</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Prix Total</th>
                        <th>Actions</th>

                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
 @section Scripts{

    <script>
        $(function () {
            var table = $("#tableItemsDa").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    // url: "ExpressionBesoins/GetExpressionBesoinsList",
                    url: "@Url.Action("GetItemsDemandesAchatsList", "ItemsDemandeAchat", new {  Id = Model.DemandeAchatId })",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "Reference", name: "Reference" },
                    { data: "CategorieItemLibelle", name: "CategorieItemLibelle" },
                    { data: "Designation", name: "Designation" },
                    { data: "Quantite", name: "Quantite" },
                    { data: "PrixUnitaire", name: "PrixUnitaire" },
                    { data: "MontantTotal", name: "MontantTotal" },
                    {
                        data: "Id", render: function (data, type, row, meta) {
                            var actions = "";

                            if ("@Model.DernierStatut" == "CREER" || "@Model.DernierStatut" == "SOUMETTRE") {
                                actions =  '<a id="editPrix" data-href="/ItemsDemandeAchat/EditPrixItemsDemandeAchat/' + row.DemandeAchatId + '/' + data + '" href="#" ><i class="fas fa-edit"></i></a>';
                            }
                            
                            
        
                            return actions;
                        }
                    }
                ]
            });

            $('#tableItemsDa').on('click', '#editPrix', function () {
                var href = this.dataset.href;
                $.ajax({
                    type: "GET",
                    url: href,
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });


                $(document).on('click', '#SaveEditProductData', function (e) {
                    e.preventDefault();
                    var form = $(this).parents('form:first');
                    var formData = form.serialize();
                    console.log(formData);
                    $.ajax(
                        {
                            type: 'post',
                            url: "@Url.Action("ItemsDemandeAchatUpdate", "ItemsDemandeAchat")",
                            data: formData,
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (result) {
                                //table.draw();
                                table.ajax.reload();
                                $('#partialModal').modal('hide');
                                swal("Modification effectuée avec succès !", "success");
                            }
                        });
                });



                $(document).on('click', '#ModifierDataDa', function (e) {
                    e.preventDefault();
                    console.log("bonjour");

                    var form = $(this).parents('form:first');
                    var formData = form.serialize();
                    console.log(formData);
                    $.ajax(
                        {
                            type: 'POST',
                            url: "@Url.Action("DemandeAchatUpdate", "DemandeAchats", new {  Id = Model.DemandeAchatId })",
                            data: formData,
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (result) {
                                //table.draw();
                                window.location.reload();
                            }
                        });
                });
                /* */
            });
            
        }) ;
    </script>
}

