﻿@model GestionAchatErp.Models.ApplicationUser
@inject GestionAchatErp.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}

<!-- Header Navbar: style can be found in header.less -->
     <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Sidebar toggle button-->
     <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
    </ul>
        
    <ul class="nav navbar-nav ml-auto">

                @if (Model != null)
                {
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@profile.ProfilePicture" class="user-image profilePicture" alt="User Image">
                            <span class="hidden-xs">@Model.Email</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="@profile.ProfilePicture" class="img-circle profilePicture" alt="User Image">
                                <p>
                                    @Model.Email
                                </p>
                            </li>

                            <!-- Menu Footer-->

                    <li class="user-footer d-flex justify-content-between">

                                <div class="pl">
                                    <a href="@Url.Action("UserProfile", "UserRole")" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <div class="pr">
                                        <button type="submit" class="btn btn-default btn-flat">Déconnexion</button>
                                    </div>
                                </form>

                            </li>
                        </ul>
                    </li>

                }




            </ul>
       
    </nav>
