﻿@model GestionAchatErp.Models.ApplicationUser
@inject GestionAchatErp.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="~/images/npsp-logo.png" alt="NPSP Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Gestion des ACHATS</span>
    </a>
	

    <!-- Sidebar -->
    <div class="sidebar">
	
        <!-- Sidebar user panel -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
			  <img src="@profile.ProfilePicture" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
			  <a href="#" class="d-block"><i class="fa fa-circle text-success"></i> @profile.FirstName @profile.LastName</a>
			</div>
      </div>
	  
       <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Rechercher" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
	<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		
           <li class="nav-header">TABLEAU DE BORD</li>
           <li class="nav-item ">
                    <a href="@MainMenu.Dashboard.Path" class="nav-link @Html.IsSelected(controller: MainMenu.Dashboard.ControllerName)">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Tableau de Bord</p>
            </a>
          </li>
                @if (await UserManager.IsInRoleAsync(Model, "Expression Besoins"))
                {
                    <li class="nav-header">EXPRESSION DE BESOINS  <span class="badge badge-info right">2</span></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Expresssion de besoins
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="@MainMenu.ExpressionBesoins.Path">
                                <i class="nav-icon fas fa-plus-square"></i> <p>Mes demandes </p>
                            </a>
                        </li>
                            
                        @if (await UserManager.IsInRoleAsync(Model, "R_Demandeur"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " href="@MainMenu.ExpressionBesoinsAvalider.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>A Valider Resp. <span class="badge badge-success right">1</span></p>
                                </a>
                            </li>
                        }
                        @if (await UserManager.IsInRoleAsync(Model, "PF_CRB"))
                        {
                            <li class="nav-item">
                                    <a class="nav-link " href="@MainMenu.ExpressionBesoinsAvaliderCRB.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>A Valider CRB. <span class="badge badge-success right">1</span></p>
                                </a>
                            </li>
                        }
                        @if (await UserManager.IsInRoleAsync(Model, "R_CRB"))
                        {
                            <li class="nav-item">
                                    <a class="nav-link " href="@MainMenu.ExpressionBesoinsAvaliderRespCRB.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>A Valider Resp. CRB <span class="badge badge-success right">1</span></p>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                                <a class="nav-link" href="@MainMenu.SuivreExpressionBesoin.Path">
                                <i class="nav-icon fas fa-plus-square"></i> <p>Suivre Mes demandes </p>
                            </a>
                        </li>
                        
                        </ul>
                </li>
               }
                @if (await UserManager.IsInRoleAsync(Model, "Demande Achat"))
                {
                    <li class="nav-header">DEMANDES ACHATS</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                Demandes d'Achats
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item @Html.IsSelected(controller: MainMenu.BesoinsEnAttente.ControllerName)">
                                <a class="nav-link @Html.IsSelected(controller: MainMenu.BesoinsEnAttente.ControllerName)" href="@MainMenu.BesoinsEnAttente.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>Besoins en Attente <span class="badge badge-success right">10</span></p>
                                </a>
                            </li>
                            <li class="nav-item @Html.IsSelected(controller: MainMenu.DemandeAchats.ControllerName)">
                                <a class="nav-link @Html.IsSelected(controller: MainMenu.DemandeAchats.ControllerName)" href="@MainMenu.DemandeAchats.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.DemandeAchats.PageName</p>
                                </a>
                            </li>
                            <li class="nav-item @Html.IsSelected(controller: MainMenu.ValidationRespRafe.ControllerName)">
                                <a class="nav-link @Html.IsSelected(controller: MainMenu.ValidationRespRafe.ControllerName)" href="@MainMenu.ValidationRespRafe.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>A Valider DA<span class="badge badge-danger right">6</span></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="@MainMenu.ExpressionBesoinsAvalider.Path">
                                    <i class="nav-icon fas fa-plus-square"></i> <p>Suivre Demandes Achats </p>
                                </a>
                            </li>
                            
                        </ul>

                    </li>
                 
                }
			<li class="nav-header">CONFIGURATION</li>
			<li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-cog"></i>
                  <p>
                    Configuration
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
            <ul class="nav nav-treeview">
			
              <li class="nav-item @Html.IsSelected(controller: MainMenu.Directions.ControllerName)">
                <a class="nav-link" href="@MainMenu.Directions.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>Direction</p>
                </a>
            </li>
			<li class="nav-item @Html.IsSelected(controller: MainMenu.Departements.ControllerName)">
                <a class="nav-link" href="@MainMenu.Departements.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>Département (CRB)</p>
                </a>
            </li>
                        <li class="nav-item @Html.IsSelected(controller: MainMenu.CentreBudgetaire.ControllerName)">
                <a class="nav-link" href="@MainMenu.CentreBudgetaire.Path">
                                <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.CentreBudgetaire.PageName</p>
                </a>
            </li>
                        <li class="nav-item @Html.IsSelected(controller: MainMenu.TypeMarche.ControllerName)">
                            <a class="nav-link" href="@MainMenu.TypeMarche.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.TypeMarche.PageName</p>
                </a>
            </li>
			<li class="nav-item @Html.IsSelected(controller: MainMenu.DemandeAchatNatures.ControllerName)">
                <a class="nav-link" href="@MainMenu.DemandeAchatNatures.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.DemandeAchatNatures.PageName</p>
                </a>
            </li>
            <li class="nav-item @Html.IsSelected(controller: MainMenu.CategorieItems.ControllerName)">
                <a class="nav-link" href="@MainMenu.CategorieItems.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.CategorieItems.PageName</p>
                </a>
            </li>

            <li class="nav-item @Html.IsSelected(controller: MainMenu.Items.ControllerName)">
                <a class="nav-link" href="@MainMenu.Items.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.Items.PageName</p>
                </a>
            </li>

            <li class="nav-item @Html.IsSelected(controller: MainMenu.Statuts.ControllerName)">
                <a class="nav-link" href="@MainMenu.Statuts.Path">
                    <i class="nav-icon fas fa-plus-square"></i> <p>@MainMenu.Statuts.PageName</p>
                </a>
            </li>
            </ul>
          </li>
           
           <li class="nav-header">UTILISATEUR & ROLE</li>
           <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Utilisateurs & Roles
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item  @Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                        <a class="nav-link" href="@MainMenu.User.Path">
                            <i class="nav-icon fas fa-users"></i> <p>@MainMenu.User.PageName</p>
                        </a>
                    </li>
                        <li class="nav-item  @Html.IsSelected(controller: MainMenu.Signatures.ControllerName, action: MainMenu.Signatures.ActionName)">
                            <a class="nav-link" href="@MainMenu.Signatures.Path">
                                <i class="nav-icon fas fa-edit"></i> <p>@MainMenu.Signatures.PageName</p>
                            </a>
                        </li>
                    <li class="nav-item  @Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                        <a class="nav-link" href="@MainMenu.ChangePassword.Path">
                            <i class="nav-icon fas fa-key"></i> <p>@MainMenu.ChangePassword.PageName</p>
                        </a>
                    </li>
                    <li class="nav-item  @Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                        <a class="nav-link" href="@MainMenu.Role.Path">
                            <i class="nav-icon fas fa-cog"></i> <p>@MainMenu.Role.PageName</p>
                        </a>
                    </li>
                    <li class="nav-item  @Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                        <a class="nav-link" href="@MainMenu.ChangeRole.Path">
                            <i class="nav-icon fas fa-cog"></i> <p>@MainMenu.ChangeRole.PageName</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
     </nav>
	 
	</div>
    <!-- /.sidebar -->
</aside>