﻿<footer class="main-footer">
    <strong>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://npsp.ci">Demande Achat|NPSP</a>.</strong>

    Tous droits réservés.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>