﻿@model IEnumerable<GestionAchatErp.Models.Statuts>
@{
    ViewData["Title"] = "Liste des Statuts";
}


<!-- Content Wrapper. Contains page content -->
<!-- Default box -->
<div class="card">
    <div class="card-header with-border">
        <h3 class="card-title"><i class="fas fa-cog"></i> @ViewData["Title"]</h3>
        <div class="card-tools pull-right">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="Grid"></div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->
@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/Statuts",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Statuts/Insert",
                        updateUrl: "/api/Statuts/Update",
                        removeUrl: "/api/Statuts/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "Id", headerText: 'Statut Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Code", headerText: 'Code', validationRules: { required: true } },
                        { field: "Etape", headerText: 'Etape', validationRules: { required: true } },
                        { field: "Libelle", headerText: 'Libelle', validationRules: { required: true } },
                        { field: "Poids", headerText: 'Poids', validationRules: { required: true } }
                    ],
                    actionComplete: "complete",
                    actionBegin: function (args) {
                        if (args.requestType == "openAddDialog") {
                            $("#" + this._id + "_dialogEdit").ejDialog({ title: "Ajouter Statut" });
                        }
                        if (args.requestType == "openEditDialog") {
                            $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modification Statut" });
                        }
                    },
                });
            });


        });

        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modification" });
            }
            if (args.requestType == 'add') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Création" });
            }
            $(".e-btnsub").val("Enregister");
            $(".e-btncan").val("Fermer");
        }

    </script>
}
