﻿@model GestionAchatErp.Models.DemandeAchatStatutHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DemandeAchatStatutHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatutName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatutName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldStatutName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldStatutName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreatedDebut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreatedDebut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreatedFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreatedFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DemandeAchat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DemandeAchat.DemandeAchatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DemandeAchatStatutHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
