﻿@model GestionAchatErp.Models.DemandeAchatStatutHistory

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DemandeAchatStatutHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DemandeAchatStatutHistoryId" />
            <div class="form-group">
                <label asp-for="StatutName" class="control-label"></label>
                <input asp-for="StatutName" class="form-control" />
                <span asp-validation-for="StatutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldStatutName" class="control-label"></label>
                <input asp-for="OldStatutName" class="form-control" />
                <span asp-validation-for="OldStatutName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreatedDebut" class="control-label"></label>
                <input asp-for="DateCreatedDebut" class="form-control" />
                <span asp-validation-for="DateCreatedDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreatedFin" class="control-label"></label>
                <input asp-for="DateCreatedFin" class="form-control" />
                <span asp-validation-for="DateCreatedFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DemandeAchatId" class="control-label"></label>
                <select asp-for="DemandeAchatId" class="form-control" asp-items="ViewBag.DemandeAchatId"></select>
                <span asp-validation-for="DemandeAchatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
