﻿@model IEnumerable<GestionAchatErp.Models.DemandeAchatStatutHistory>

@{
    ViewData["Title"] = "Historique des étapes des demandes d'achat";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-building-o"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <a class="btn btn-primary" asp-action="Create">Ajouter</a>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="Grid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.StatutName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OldStatutName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreatedDebut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateCreatedFin)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commentaire)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DemandeAchat)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StatutName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OldStatutName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreatedDebut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreatedFin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commentaire)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DemandeAchat.DemandeAchatId)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.DemandeAchatStatutHistoryId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.DemandeAchatStatutHistoryId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.DemandeAchatStatutHistoryId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->