﻿@model GestionAchatErp.Models.ExpressionBesoin

    <div class="modal-header">
    <h4 class="modal-title">Ajout: Expression Besoin</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
    <form id="myForm" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NatureBesoin" class="control-label"></label>
                    <input asp-for="NatureBesoin" class="form-control" />
                    <span asp-validation-for="NatureBesoin" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MotifDemande" class="control-label"></label>
                    <input asp-for="MotifDemande" class="form-control" />
                    <span asp-validation-for="MotifDemande" class="text-danger"></span>
                </div>
            </div>
        </div>
       
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" id="SaveData" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
    </div>
   
