﻿@model GestionAchatErp.Models.ExpressionBesoin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ExpressionBesoin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserIdResponsable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIdResponsable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartementId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FonctionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FonctionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomDemandeur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomDemandeur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectionLibelle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectionLibelle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartementLibelle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartementLibelle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fonction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fonction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumExpressionBesoin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumExpressionBesoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NatureBesoin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NatureBesoin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotifDemande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotifDemande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDemande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDemande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DernierStatut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DernierStatut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateStatut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateStatut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserProfileId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
