﻿@model GestionAchatErp.Models.ExpressionBesoin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>ExpressionBesoin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserProfileId" class="control-label"></label>
                <select asp-for="UserProfileId" class="form-control" asp-items="ViewBag.UserProfileId"></select>
                <span asp-validation-for="UserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIdResponsable" class="control-label"></label>
                <input asp-for="UserIdResponsable" class="form-control" />
                <span asp-validation-for="UserIdResponsable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectionId" class="control-label"></label>
                <input asp-for="DirectionId" class="form-control" />
                <span asp-validation-for="DirectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementId" class="control-label"></label>
                <input asp-for="DepartementId" class="form-control" />
                <span asp-validation-for="DepartementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FonctionId" class="control-label"></label>
                <input asp-for="FonctionId" class="form-control" />
                <span asp-validation-for="FonctionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomDemandeur" class="control-label"></label>
                <input asp-for="NomDemandeur" class="form-control" />
                <span asp-validation-for="NomDemandeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectionLibelle" class="control-label"></label>
                <input asp-for="DirectionLibelle" class="form-control" />
                <span asp-validation-for="DirectionLibelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementLibelle" class="control-label"></label>
                <input asp-for="DepartementLibelle" class="form-control" />
                <span asp-validation-for="DepartementLibelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fonction" class="control-label"></label>
                <input asp-for="Fonction" class="form-control" />
                <span asp-validation-for="Fonction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumExpressionBesoin" class="control-label"></label>
                <input asp-for="NumExpressionBesoin" class="form-control" />
                <span asp-validation-for="NumExpressionBesoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NatureBesoin" class="control-label"></label>
                <input asp-for="NatureBesoin" class="form-control" />
                <span asp-validation-for="NatureBesoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotifDemande" class="control-label"></label>
                <input asp-for="MotifDemande" class="form-control" />
                <span asp-validation-for="MotifDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDemande" class="control-label"></label>
                <input asp-for="DateDemande" class="form-control" />
                <span asp-validation-for="DateDemande" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DernierStatut" class="control-label"></label>
                <input asp-for="DernierStatut" class="form-control" />
                <span asp-validation-for="DernierStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStatut" class="control-label"></label>
                <input asp-for="DateStatut" class="form-control" />
                <span asp-validation-for="DateStatut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
