﻿@model IEnumerable<GestionAchatErp.Models.ExpressionBesoin>
@{
    ViewBag.Title = "Liste des Expressions de Besoins";
}
<div class="container-fluid">

 <!-- /.card -->

    <div class="card">
        <!--  <div class="card-header">
            <h3 class="card-title"> <a class="btn btn-primary" id="addButton"> <i class="fas fa-plus"></i> Ajouter</a></h3>
        </div> -->
        <!-- /.card-header -->
        <div class="card-body">
    <table id="tableName" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Numéro</th>
                <th>Besoin</th>
                <th>Motif</th>
                <th>Demandeur</th>
                <th>@Html.DisplayNameFor(model => model.DirectionLibelle)</th>
                <th>@Html.DisplayNameFor(model => model.DepartementLibelle)</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
           </thead>
                 
        </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>


@section Scripts{
    <!-- Page specific script -->
    <script>
        $(function () {
           var table = $("#tableName").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    url: "@Url.Action("GetExpressionBesoinsListValider", "ExpressionBesoins")",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "NumExpressionBesoin", name: "NumExpressionBesoin" },
                    { data: "NatureBesoin", name: "NatureBesoin" },
                    { data: "MotifDemande", name: "MotifDemande" },
                    { data: "NomDemandeur", name: "NomDemandeur" },
                    { data: "DirectionLibelle", name: "DirectionLibelle" },
                    { data: "DepartementLibelle", name: "DepartementLibelle" },
                    {
                        data: "DernierStatut", render: function (data, type, row, meta) {
                            if (data == 'VALIDER') {
                                return type === 'display' ?'<span class="badge badge-success" >' + data + '</span>' : data;
                            } if (data == 'REJETER') {
                                return type === 'display' ? '<span class="badge badge-danger" >' + data + '</span>' : data;
                            }
                            else{
                                return type === 'display' ? '<span class="badge badge-info" >' + data + '</span>' : data;
                            }
                            
                        }
                    },
                    { data: "DateDemande", name: "DateDemande" },
                    {
                        data: "Id", render: function (data, type, row, meta) {
                            var action = '<div>';
                            if (type === 'display') {
                                action += '<a href="/ItemsExpressionBesoins/List/' + data + '" ><i class="fas fa-plus"></i></a> ';
                                if (row.DernierStatut == "CREER") {
                                    action += ' <a id="editButton" data-eb=' + data + ' href="#" ><i class="fas fa-edit"></i></a> ';
                                }
                                
                            }
                            action += '</div>';
                            return action;
                        }
                    }
                ]
            });



            $("#addButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Create", "ExpressionBesoins")",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });


            $(document).on('click', '#SaveData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("Create", "ExpressionBesoins")",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                            var url = '@Url.Action("List", "ItemsExpressionBesoins")/'+ result;
                            console.log(url);
                            window.location.href = url;
                        }
                    });
            });



            //Edit script
            //Modifier une expression besion editButton
            $(document).on('click', '#editButton', function (e) {
                e.preventDefault();
                var id = $(this).data('eb');
                var url = "@Url.Action("ModifierExpressionBesoin", "ExpressionBesoins")/" + id;
                console.log('TEST OK'+id);
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: url,
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        //$('#myFormSoumettre input').prop('readonly', true);
                        //$('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });

            $(document).on('click', '#ModifierData', function (e) {
                e.preventDefault();
                var id = $(this).data('eb');
                var url = "@Url.Action("ModifierExpressionBesoin", "ExpressionBesoins")";
                console.log('TEST OK' + url);
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: url,
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Detail script

            //Delete script

              
        });
    </script>

}


