﻿@model GestionAchatErp.Models.ExpressionBesoin


<div class="modal-header">
    <h4 class="modal-title">Modification: Expression Besoin</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>


<div class="modal-body">
    <form id="myFormSoumettre">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
         <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NatureBesoin" class="control-label"></label>
                    <input asp-for="NatureBesoin" value="@Model.NatureBesoin" class="form-control" />
                    <span asp-validation-for="NatureBesoin" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MotifDemande" class="control-label"></label>
                    <input asp-for="MotifDemande" value="@Model.MotifDemande" class="form-control" />
                    <span asp-validation-for="MotifDemande" class="text-danger"></span>
                </div>
            </div>
            </div>
            </div>
            <div class="col-md-12">
           <!--<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CrbEnCharge" class="control-label">CRB de la dépense</label>
                    <select asp-for="CrbEnCharge" class="form-control" asp-items="ViewBag.CrbEnCharge"></select>
                    <span asp-validation-for="CrbEnCharge" class="text-danger"></span>
                </div>
            </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SourceBudgetaire" class="control-label">Choisir une Source Budgétaire</label>
                            <select asp-for="SourceBudgetaire" class="form-control" asp-items="ViewBag.CentreBudgetaire"></select>
                            <span asp-validation-for="SourceBudgetaire" class="text-danger"></span>
                        </div>
                    </div>
            </div>-->
            </div>
            <div class="col-md-12">
                <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Observation" class="control-label"></label>
                    <textarea asp-for="Observation" rows="5" class="form-control">@Model.Observation</textarea>
                    <span asp-validation-for="Observation" class="text-danger"></span>
                </div>
            </div>
        </div>
        </div>
        </div>

        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" id="ModifierData" class="btn btn-primary">Modifier</button>
        </div>
    </form>
</div>

