﻿@model GestionAchatErp.Models.Signature



<div class="modal-header">
    <h4 class="modal-title">Ajout: Signature</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>


<div class="modal-body">
    <form id="myForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SignaturePath" class="control-label"></label>
                    <input asp-for="SignaturePath" type="file" class="form-control"/>
                    <span asp-validation-for="SignaturePath" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AuteurSignature" class="control-label"></label>
                    <select asp-for="AuteurSignature" class="form-control" asp-items="ViewBag.UserProfile"></select>
                    <span asp-validation-for="AuteurSignature" class="text-danger"></span>
                </div>
            </div>
          
        </div>

        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" id="SaveData" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>

