﻿@model GestionAchatErp.Models.Signature

<div class="modal-header">
    <h4 class="modal-title">Ajout: Signature</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <h3>Are you sure you want to delete this?</h3> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartementId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartementId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignaturePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignaturePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuteurSignature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuteurSignature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSignature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSignature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserProfile.UserProfileId)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

