﻿@model GestionAchatErp.Models.Signature

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Signature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserProfileId" class="control-label"></label>
                <select asp-for="UserProfileId" class="form-control" asp-items="ViewBag.UserProfileId"></select>
                <span asp-validation-for="UserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectionId" class="control-label"></label>
                <input asp-for="DirectionId" class="form-control" />
                <span asp-validation-for="DirectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartementId" class="control-label"></label>
                <input asp-for="DepartementId" class="form-control" />
                <span asp-validation-for="DepartementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignaturePath" class="control-label"></label>
                <input asp-for="SignaturePath" class="form-control" />
                <span asp-validation-for="SignaturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuteurSignature" class="control-label"></label>
                <input asp-for="AuteurSignature" class="form-control" />
                <span asp-validation-for="AuteurSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSignature" class="control-label"></label>
                <input asp-for="DateSignature" class="form-control" />
                <span asp-validation-for="DateSignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
