﻿@model IEnumerable<GestionAchatErp.Models.Signature>
<div class="container-fluid">


    <!-- /.card -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> <a class="btn btn-primary" id="addButton"> <i class="fas fa-plus"></i> Ajouter</a></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tableSignature" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>##</th>
                        <th>Signature </th>
                        <th>Auteur</th>
                        <th>@Html.DisplayNameFor(model => model.DirectionLibelle)</th>
                        <th>@Html.DisplayNameFor(model => model.DepartementLibelle)</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
@section Styles{
    <link rel='stylesheet' href='~/sweetalert/sweetalert2.min.css'></link>

}

@section Scripts{
    <!-- Page specific script -->
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>
    <script>
        
        $(function () {
            var table = $("#tableSignature").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    // url: "ExpressionBesoins/GetExpressionBesoinsList",
                    url: "@Url.Action("GetSignaturesList", "Signatures")",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    {
                        data: "SignaturePath", render: function(data, type, row, meta){
                            return '<img id="profilePicture" class="profile-user-img img-responsive img-circle" src = "'+data+'" alt = "Signature" >';

                        } 
                    },
                    { data: "AuteurSignature", name: "AuteurSignature" },
                    { data: "DirectionLibelle", name: "DirectionLibelle" },
                    { data: "DepartementLibelle", name: "DepartementLibelle" },
                    { data: "DateSignature", name: "DateSignature" },
                    {
                        data: "Id", render: function (data, type, row, meta) {
                            var action = '<a href="#" ><i class="fas fa-edit"></i></a> <a id="deleteButton" href="#" data-href="/Signatures/Delete/'+data+'"><i  class="fas fa-trash"></i></a>'
                                ;
                            return action;
                        }
                    }
                ]
            });


            $('#tableSignature').on('click', '#deleteButton', function () {
                var href = this.dataset.href;
                swal({
                    title: 'Voulez-vous vraiment supprimer la signature ?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Oui, Je supprime',
                    cancelButtonText: 'Non, Annuler',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    type: 'warning',
                    buttonsStyling: true
                }).then((result) => {
                    console.log(result);
                    if (result.value) {
                        console.log(href);
                            $.ajax({
                                type: "GET",
                                url: href,
                                success: function (response) {
                                    console.log(response);
                                    table.ajax.reload();
                                swal('Supprimé', '', 'success');
                                },
                                failure: function (response) {
                                    console.log(response.responseText);
                                },
                                error: function (response) {
                                    console.log(response.responseText);
                                }
                            });
                        }
                        else{
                            swal('Annulé', '', 'error');
                        }
                    });


               /* */
            });

            

            $("#addButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Create", "Signatures")",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });


            $(document).on('click', '#SaveData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                //console.log(form);
                 var formData = new FormData(form[0]);

                //var SignaturePath = form.SignaturePath;

                //console.log(SignaturePath);
                //var formData = form.serialize();
                //formData['SignaturePath'] = SignaturePath;

                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("Create", "Signatures")",
                        data: formData,
                        contentType: false,
                        processData: false,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });



            //Edit script

            //Detail script

            //Delete script


        });
    </script>

}


