﻿@{
    ViewData["Title"] = "Liste des Produits";
}

<div class="card">
    <div class="card-header with-border">
        <h3 class="card-title"><i class="fa fa-tag"></i> @ViewData["Title"]</h3>
        <div class="card-tools pull-right">
            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="Grid"></div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->
@section Styles{

}

@section Scripts{

    <script type="text/javascript">
        $(function () {

            var dataManager = ej.DataManager({
                url: "/api/Items",
                adaptor: new ej.WebApiAdaptor(),
                offline: true
            });

            var dataManagerDirection = ej.DataManager({
                url: "/api/CategorieItems",
                adaptor: new ej.WebApiAdaptor()
            });

            dataManager.ready.done(function (e) {
                $("#Grid").ejGrid({
                    dataSource: ej.DataManager({
                        json: e.result,
                        adaptor: new ej.remoteSaveAdaptor(),
                        insertUrl: "/api/Items/Insert",
                        updateUrl: "/api/Items/Update",
                        removeUrl: "/api/Items/Remove",
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel", "search", "printGrid"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        showDeleteConfirmDialog: true,
                        editMode: "dialog"
                    },
                    isResponsive: true,
                    enableResponsiveRow: true,
                    allowSorting: true,
                    allowSearching: true,
                    allowFiltering: true,
                    filterSettings: {
                        filterType: "excel",
                        maxFilterChoices: 100,
                        enableCaseSensitivity: false
                    },
                    allowPaging: true,
                    pageSettings: { pageSize: 10, printMode: ej.Grid.PrintMode.CurrentPage },
                    columns: [
                        { field: "Id", headerText: 'Items Id', isPrimaryKey: true, isIdentity: true, visible: false },
                        { field: "Designation", headerText: 'Designation', validationRules: { required: true } },
                        { field: "Reference", headerText: 'Reference', validationRules: { required: true } },
                        { field: "CategorieItemsId", headerText: 'Categorie', foreignKeyField: "Id", foreignKeyValue: "Designation", dataSource: dataManagerDirection },
                    ],
                    actionComplete: "complete",
                });
            });


        });
        function complete(args) {
            if (args.requestType == 'beginedit') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Modification" });
            }
            if (args.requestType == 'add') {
                $("#" + this._id + "_dialogEdit").ejDialog({ title: "Création" });
            }
            if (args.requestType == 'beginedit' || args.requestType == 'add') {
                $('#CategorieItemsIdId').ejDropDownList({ change: 'CategorieItemsDdlChange' });
            }
            $(".e-btnsub").val("Enregister");
            $(".e-btncan").val("Fermer");
        }

        function CategorieItemsDdlChange(e) {
            $.ajax({
                url: '/api/Currency/GetByDirectionId/' + e.selectedValue,
                type: 'GET',
                success: function (data) {
                    $("#CategorieItemsIdId").ejDropDownList({
                        dataSource: [data],
                        fields: { id: 'CurrencyId', text: 'CurrencyCode', value: 'CurrencyId' },
                        value: data.CurrencyId
                    });
                }
            })
        }


    </script>
}