﻿@model GestionAchatErp.Models.ItemsExpressionBesoin

<div class="modal-header">
    <h4 class="modal-title">Ajout: Element d'expression besoin</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form id="myForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="ItemId" class="control-label"></label>
                    <select asp-for="ItemId" class="form-control" asp-items="ViewBag.produitList"></select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Quantite" class="control-label"></label>
                    <input asp-for="Quantite" class="form-control" />
                    <span asp-validation-for="Quantite" class="text-danger"></span>
                </div>
            </div>
           
        </div>

        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" id="SaveData" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>

