﻿@model GestionAchatErp.Models.ExpressionBesoin
@inject GestionAchatErp.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(appUser.Id));
    ViewBag.Title = "Éléments de l'expression de besoin";
}

<div class="container-fluid">
    <div class="card">
        
        <div class="card-body">
            <div class="row wrap-detail-demande">
                <div class="col-2">
                    <div class="infos-demander" style="border-right: solid 1px gray;">
                        <div class="font-weight-bold">Demandeur</div>
                        <i class="text-gray fas fa-user-circle"> </i><span class=""> #@Model.NomDemandeur </span><br />
                        <span class="text-gray font-italic text-lowercase text-small">@Model.DirectionLibelle - @Model.DepartementLibelle</span> | 
                        <span class="text-gray font-italic text-lowercase text-small">@Model.Fonction</span>
                    </div>

                </div>
                <div class="col-10">
                    <div class="row">
                    <div class="col-12 col-sm-4">
                        <span class="text-lightest">N° Demande: </span><span class="font-weight-bold">#@Model.NumExpressionBesoin </span>
                    </div>
                    <div class="col-12 col-sm-4">
                         @if (@Model.DernierStatut == "REJETER")
                            {
                                <span>Statut: </span><span class="textStatut"><span class="badge badge-danger">@Model.DernierStatut</span></span>
                            }
                            else{
                                <span>Statut: </span><span class="textStatut"><span class="badge badge-primary">@Model.DernierStatut</span></span>
                            }
                           
                        </div>
                    <div class="col-12 col-sm-4">
                        <span>Date demande: </span><span class="">@Model.DateDemande </span>
                    </div>
                    <div class="col-12 col-sm-4">
                        <span class="text-info">Nature du besoin: </span><span class="">@Model.NatureBesoin </span>
                    </div>
                    <div class="col-12 col-sm-4">
                        <span class="text-orange">Motif: </span><span class="">@Model.MotifDemande </span>
                    </div>
                   </div>
                    
                </div>
               
            </div>
        </div>

    </div>

    <!-- /.card -->

    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tableName" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>##</th>
                        <th> Réference</th>
                        <th>Categorie</th>
                        <th>Designation</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!--Start Liste Historique Validation -->
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tableHistoriqueName" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>##</th>
                        <th> Statut</th>
                        <th>Date Signature</th>
                        <th>Signataire</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!--End Liste Historique Validation -->
</div>
@section Styles{
    <link rel='stylesheet' href='~/sweetalert/sweetalert2.min.css'></link>

}

@section Scripts{
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {

            var table = $("#tableHistoriqueName").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    // url: "ExpressionBesoins/GetExpressionBesoinsList",
                    url: "@Url.Action("GetHistoriqueStatut", "ItemsExpressionBesoins", new {  Id = Model.Id })",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "Statut", name: "Statut" },
                    { data: "DateFinStatut", name: "DateFinStatut" },
                    { data: "UserProfileId", name: "UserProfileId" },
                    { data: "Commentaire", name: "Commentaire" }
                    
                ]
            });
            
            var table = $("#tableName").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    // url: "ExpressionBesoins/GetExpressionBesoinsList",
                    url: "@Url.Action("GetItemExpressionBesoinsList", "ItemsExpressionBesoins", new {  Id = Model.Id })",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "Id" },
                    { data: "Reference", name: "Reference" },
                    { data: "CategorieItemLibelle", name: "CategorieItemLibelle" },
                    { data: "Designation", name: "Designation" },
                    { data: "Quantite", name: "Quantite" },
                    {
                        data: "Id", render: function (data, type, row, meta) {
                            var actions ="";
                            if ("@Model.DernierStatut" == "CREER") {
                                actions = '<a id="editExpressionItems" data-href="/ItemsExpressionBesoins/EditItemsExpressionBesoin/' + row.ExpressionBesoinId + '/' + data + '" href="#" ><i class="fas fa-edit"></i></a> &emsp;  <a id="deleteExpressionItems" data-href="/ItemsExpressionBesoins/DeleteItemsExpressionBesoin/' + row.ExpressionBesoinId + '/' + data + '" href="#" ><i class="fas fa-trash"></i></a>';

                            }
                            return actions;
                        }
                    }
                ]
            });
            ///OnClick Edit Product Item
            $('#tableName').on('click', '#editExpressionItems', function () {
                var href = this.dataset.href;
                $.ajax({
                    type: "GET",
                    url: href,
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });

                /* */
            });

            //DELETE EXPRESSION BESOIN ITEMS
            $('#tableName').on('click', '#deleteExpressionItems', function () {
                var href = this.dataset.href;
                swal({
                    title: 'Voulez-vous vraiment supprimer la signature ?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Oui, Je supprime',
                    cancelButtonText: 'Non, Annuler',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    type: 'warning',
                    buttonsStyling: true
                }).then((result) => {
                    console.log(result);
                    if (result.value) {
                        console.log(href);
                        $.ajax({
                            type: "GET",
                            url: href,
                            success: function (response) {
                                console.log(response);
                                table.ajax.reload();
                                swal('Supprimé', '', 'success');
                            },
                            failure: function (response) {
                                console.log(response.responseText);
                            },
                            error: function (response) {
                                console.log(response.responseText);
                            }
                        });
                    }
                    else {
                        swal('Annulé', '', 'error');
                    }
                });


                /* */
            });

            $("#addButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Create", "ItemsExpressionBesoins",  new { expressionBesoinId = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });

            //Save Product Edit Item
            $(document).on('click', '#SaveEditProductData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                console.log(formData);
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ItemsExpressionBesoinUpdate", "ItemsExpressionBesoins")",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                            swal("Modification effectuée avec succès !", "success");
                        }
                    });
            });


            $(document).on('click', '#SaveData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                console.log(formData);
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("Create", "ItemsExpressionBesoins", new { expressionBesoinId = Model.Id })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });
            


            //Edit script

            //Detail script

            //Delete script

            //Soumettre expression besion
            $("#soumettreButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SoumettreExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        $('#myFormSoumettre input').prop('readonly', true);
                        $('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $(document).on('click', '#SoumettreData', function (e) {
                e.preventDefault();
                //var form = $(this).parents('form:first');
                //var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("SoumettreExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        //data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            var res = '<span class="badge badge-success">'+result+'</span>'
                           /* $('.textStatut').html(res);
                            table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });
            //Rejeter expression besion
            $("#rejeterButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("RejeterExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        $('#myFormSoumettre input').prop('readonly', true);
                        $('#myFormSoumettre #Observation').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $(document).on('click', '#RejeterData', function (e) {
                e.preventDefault();
                //var form = $(this).parents('form:first');
                //var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("RejeterExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        //data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            var res = '<span class="badge badge-success">' + result + '</span>'
                            /* $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Valider expression besion
            $("#validerButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ValiderExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        //$('#myFormSoumettre input').prop('readonly', true);
                        //$('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });

            $(document).on('click', '#ValiderData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ValiderExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            /* var res = '<span class="badge badge-success">' + result + '</span>'
                             $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });
            //Approbation Point Focal CRB
            $("#approuvPfCrb").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ApprouvPfCrbExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        //$('#myFormSoumettre input').prop('readonly', true);
                        //$('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });





            $(document).on('click', '#approuvPfCrbData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ApprouvPfCrbExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                           /* var res = '<span class="badge badge-success">' + result + '</span>'
                            $('.textStatut').html(res);
                            table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });
            $(document).on('click', '#approuvPfCrbData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ApprouvPfCrbExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            /* var res = '<span class="badge badge-success">' + result + '</span>'
                             $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Approbation Point Focal CRB
            $("#approuvResCrb").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ApprouvResCrbExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.Id })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        //$('#myFormSoumettre input').prop('readonly', true);
                        //$('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });





            $(document).on('click', '#approuvRespCrbData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ApprouvResCrbExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.Id })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            /* var res = '<span class="badge badge-success">' + result + '</span>'
                             $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Transformer en Demande d'Achat

            $(document).on('click', '#transformerEnDAButton', function () {
                swal({
                    title: 'Voulez-vous vraiment transformer l\'expression de besoins en demande d\'achat ?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Oui, Je Confirme',
                    cancelButtonText: 'Non, Annuler',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    type: 'warning',
                    buttonsStyling: true
                }).then((result) => {
                    if (result.value) {
                        //console.log(href);
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("Create", "DemandeAchats",  new { id = Model.Id })",
                            success: function (response) {
                                if(response == 1)
                                {
                                    swal('Opération effectuée avec succès !', '', 'success');

                                }
                                console.log(response);
                            },
                            failure: function (response) {
                                console.log(response);
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });
                    }
                    else {
                        swal('Annulé', '', 'error');
                    }
                });


                /* */
            });

        });
    </script>

}

