﻿@model GestionAchatErp.Models.Direction

<div class="content-wrapper">

    <!-- Main content -->
  <section class="content">

        <h4>Direction</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Libelle" class="control-label"></label>
                        <input asp-for="Libelle" class="form-control" />
                        <span asp-validation-for="Libelle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateBy" class="control-label"></label>
                        <input asp-for="CreateBy" class="form-control" />
                        <span asp-validation-for="CreateBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdateBy" class="control-label"></label>
                        <input asp-for="UpdateBy" class="form-control" />
                        <span asp-validation-for="UpdateBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateAt" class="control-label"></label>
                        <input asp-for="CreateAt" class="form-control" />
                        <span asp-validation-for="CreateAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdateAt" class="control-label"></label>
                        <input asp-for="UpdateAt" class="form-control" />
                        <span asp-validation-for="UpdateAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

</section>
</div>
