﻿@model GestionAchatErp.Models.ItemsDemandeAchat

<div class="modal-header">
    <h4 class="modal-title">Définir prix Produit </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button> 
</div>

<div class="modal-body">
    <form id="myForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="row">
            <input type ="hidden" asp-for="DemandeAchatId" class="form-control" />
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="Quantite" class="form-control" />

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Reference" class="control-label"></label>
                    <input asp-for="Reference" class="form-control" readonly />
                    <span asp-validation-for="Reference" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" readonly />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PrixUnitaire" class="control-label"></label>
                    <input asp-for="PrixUnitaire" class="form-control" />
                    <span asp-validation-for="PrixUnitaire" class="text-danger"></span>

                </div>
            </div>

            

        </div>

        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" id="SaveEditProductData" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>

