﻿@model GestionAchatErp.Models.DemandeAchat
@inject GestionAchatErp.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(appUser.Id));
    ViewBag.Title = "Éléments de la demande d'achat";
}

<div class="container-fluid">
    <div class="card">

        <div class="card-body">
            <div class="row wrap-detail-demande">
                <div class="col-2">
                    <div class="infos-demander" style="border-right: solid 1px gray;">
                        <div class="font-weight-bold">Demandeur</div>
                        <i class="text-gray fas fa-user-circle"> </i><span class=""> #@Model.DemandeurNom </span><br />
                        <span class="text-gray font-italic text-lowercase text-small">@Model.Direction - @Model.Departement</span> |
                        <span class="text-gray font-italic text-lowercase text-small">@Model.Fonction</span>
                    </div>

                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <span class="text-lightest">N° Demande: </span><span class="font-weight-bold">#@Model.NumDemande </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            @if (@Model.DernierStatut == "REJETER")
                            {
                                <span>Statut: </span>

                                <span class="textStatut"><span class="badge badge-danger">@Model.DernierStatut</span></span>
                            }
                            else
                            {
                                <span>Statut: </span>

                                <span class="textStatut"><span class="badge badge-primary">@Model.DernierStatut</span></span>
                            }

                        </div>
                        <div class="col-12 col-sm-4">
                            <span>Date demande: </span><span class="">@Model.DateDemande </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <span class="text-info">Nature du besoin: </span><span class="">@Model.NatureBesoin </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <span class="text-orange">Motif: </span><span class="">@Model.MotifDemande </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <span class="text-lightest">Type Marché: </span><span class="">@Model.TypeMarche </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <span class="text-lightest">Type Achat: </span><span class="">@Model.TypeAchat </span>
                        </div>
                        <div class="col-12 col-sm-4">
                            <span class="text-lightest">Demande MAC: </span><span class="">@Model.DemandeMac </span>
                        </div>
                    </div>
                    <div class="text-right">
                        @if (@Model.DernierStatut == "CREER")
                        {
                            if (@profile.UserProfileId.Equals(@Model.UserId))
                            {
                                <button type="button" id="soumettreDaButton" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Soumettre</button>
                                 
                            }
                        }
                        @if (await UserManager.IsInRoleAsync(appUser, "R_RAFE"))
                        {
                            @if (@Model.DernierStatut == "SOUMETTRE")
                            {
                                <button type="button" id="validerDaButton" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Valider</button>
                                <button type="button" id="rejeterDaButton" class="btn btn-danger btn-sm"><i class="fas fa-close"></i> Rejeter</button>
                            }

                        }

                        @if (await UserManager.IsInRoleAsync(appUser, "PF_CRB"))
                        {
                            @if (@Model.DernierStatut == "VALIDER")
                            {
                                <button type="button" id="transformerEnDAButton" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Transformer en DA</button>
                                <button type="button" id="rejeterButton" class="btn btn-danger btn-sm"><i class="fas fa-close"></i> Rejeter</button>
                            }

                        }
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- /.card -->

    <div class="card">
        @if (@Model.DernierStatut == "CREER")
        {
            <div class="card-header">
                <h3 class="card-title"> <a class="btn btn-outline-primary btn-sm" href="/DemandeAchats/ModifierDemandeAchat/@Model.DemandeAchatId"> <i class="fas fa-edit"></i> Modifier la Demande</a></h3>
            </div>
        }
        @if (await UserManager.IsInRoleAsync(appUser, "R_RAFE"))
        {
            @if (@Model.DernierStatut == "SOUMETTRE")
            {
                <div class="card-header">
                    <h3 class="card-title"> <a class="btn btn-outline-primary btn-sm" href="/DemandeAchats/ModifierDemandeAchat/@Model.DemandeAchatId"> <i class="fas fa-edit"></i> Modifier la Demande</a></h3>
                </div>
            }

        }

        <!-- /.card-header -->
        <div class="card-body">
            <table id="tableName" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>##</th>
                        <th> Réference</th>
                        <th>Categorie</th>
                        <th>Designation</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>

                    </tr>
                </thead>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
@section Styles{
    <link rel='stylesheet' href='~/sweetalert/sweetalert2.min.css'></link>

}

@section Scripts{
    <script src="~/sweetalert/sweetalert2.all.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {

            var table = $("#tableName").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    // url: "ExpressionBesoins/GetExpressionBesoinsList",
                    url: "@Url.Action("GetItemsDemandesAchatsList", "ItemsDemandeAchat", new {  Id = Model.DemandeAchatId })",
                    type: "POST",
                },
                columns: [
                    { data: "Id", name: "DemandeAchatId" },
                    { data: "Reference", name: "Reference" },
                    { data: "CategorieItemLibelle", name: "CategorieItemLibelle" },
                    { data: "Designation", name: "Designation" },
                    { data: "PrixUnitaire", name: "PrixUnitaire" },
                    { data: "Quantite", name: "Quantite" },
                    { data: "MontantTotal", name: "MontantTotal" },
                    
                    
                ]
            });
            ///OnClick Edit Product Item
            $('#tableName').on('click', '#editExpressionItems', function () {
                var href = this.dataset.href;
                $.ajax({
                    type: "GET",
                    url: href,
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });

                /* */
            });

            //DELETE EXPRESSION BESOIN ITEMS
            $('#tableName').on('click', '#deleteExpressionItems', function () {
                var href = this.dataset.href;
                swal({
                    title: 'Voulez-vous vraiment supprimer la signature ?',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Oui, Je supprime',
                    cancelButtonText: 'Non, Annuler',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    type: 'warning',
                    buttonsStyling: true
                }).then((result) => {
                    console.log(result);
                    if (result.value) {
                        console.log(href);
                        $.ajax({
                            type: "GET",
                            url: href,
                            success: function (response) {
                                console.log(response);
                                table.ajax.reload();
                                swal('Supprimé', '', 'success');
                            },
                            failure: function (response) {
                                console.log(response.responseText);
                            },
                            error: function (response) {
                                console.log(response.responseText);
                            }
                        });
                    }
                    else {
                        swal('Annulé', '', 'error');
                    }
                });


                /* */
            });

            $("#addButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Create", "ItemsExpressionBesoins",  new { expressionBesoinId = Model.DemandeAchatId })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });

            //Save Product Edit Item
            $(document).on('click', '#SaveEditProductData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                console.log(formData);
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ItemsExpressionBesoinUpdate", "ItemsExpressionBesoins")",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                            swal("Modification effectuée avec succès !", "success");
                        }
                    });
            });


            $(document).on('click', '#SaveData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                console.log(formData);
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("Create", "ItemsExpressionBesoins", new { expressionBesoinId = Model.DemandeAchatId })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            table.ajax.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });



            //Edit script

            //Detail script

            //Delete script

            //Soumettre expression besion
            $("#soumettreButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SoumettreExpressionBesoin", "ItemsExpressionBesoins",  new { id = Model.DemandeAchatId })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        $('#myFormSoumettre input').prop('readonly', true);
                        $('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $(document).on('click', '#SoumettreData', function (e) {
                e.preventDefault();
                //var form = $(this).parents('form:first');
                //var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("SoumettreExpressionBesoin", "ItemsExpressionBesoins", new { id = Model.DemandeAchatId })",
                        //data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            var res = '<span class="badge badge-success">' + result + '</span>'
                            /* $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });
            //Rejeter expression besion
            $("#rejeterDaButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("RejeterDemandeAchat", "DemandeAchats",  new { id = Model.DemandeAchatId })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        $('#myFormSoumettre input').prop('readonly', true);
                        $('#myFormSoumettre #Observation').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $(document).on('click', '#RejeterDaData', function (e) {
                e.preventDefault();
                //var form = $(this).parents('form:first');
                //var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("RejeterDemandeAchat", "DemandeAchats", new { id = Model.DemandeAchatId })",
                        //data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            var res = '<span class="badge badge-success">' + result + '</span>'
                            /* $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Valider expression besion
            $("#validerDaButton").click(function () {
                //var customerId = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ValiderDemandeAchat", "DemandeAchats",  new { id = Model.DemandeAchatId })",
                    //data: { "customerId": customerId },
                    success: function (response) {
                        $("#partialModal").find(".modal-content").html(response);
                        $("#partialModal").modal('show');
                        $('.modal-dialog').css('max-width', '50%');
                        //$('#myFormSoumettre input').prop('readonly', true);
                        //$('#myFormSoumettre textarea').prop('readonly', true);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
            $(document).on('click', '#ValiderDaData', function (e) {
                e.preventDefault();
                var form = $(this).parents('form:first');
                var formData = form.serialize();
                $.ajax(
                    {
                        type: 'post',
                        url: "@Url.Action("ValiderDemandeAchat", "DemandeAchats", new { id = Model.DemandeAchatId })",
                        data: formData,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (result) {
                            //table.draw();
                            console.log(result);
                            /* var res = '<span class="badge badge-success">' + result + '</span>'
                             $('.textStatut').html(res);
                             table.ajax.reload();*/
                            window.location.reload();
                            $('#partialModal').modal('hide');
                        }
                    });
            });

            //Transformer en Demande d'Achat

            $(document).on('click', '#soumettreDaButton', function () {
                swal({
                    title: 'Voulez-vous vraiment soumettre la demande d\'achat ?',
                    text: 'Une fois confirmée, aucune modification n\'est autorisée',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonText: 'Oui, Je Confirme',
                    cancelButtonText: 'Non, Annuler',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    type: 'warning',
                    buttonsStyling: true
                }).then((result) => {
                    if (result.value) {
                        //console.log(href);
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("SoumettreDemandeAchat", "DemandeAchats",  new { id = Model.DemandeAchatId })",
                            success: function (response) {
                                swal('Opération effectuée avec succès !', '', 'success').then(window.location.reload());
                                    

                                console.log(response);
                            },
                            failure: function (response) {
                                console.log(response);
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });
                    }
                    else {
                        swal('Annulé', '', 'error');
                    }
                });


                /* */
            });

        });
    </script>

}

